@import "base";

.projects {
  &__header{
    font-size: 50px;
    font-style: italic;
    padding-bottom: 10px;
  }
}
//PROJECT
.project{
  &__header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    font-family: sans-serif;
    & span {
      border-top: 1px solid $white-color;
      padding: 1rem;
      font-size: 25px;
      text-align: center;
    }
  }
  &__infos{
    margin-top: 1rem;
    &--name {
      position: relative;
      font-size: 2rem;
      font-weight: 200;
      font-family: sans-serif;
      display: flex;
      align-items: center;
    }
  }
  &__img{
    position: relative;
    width: 100%;
    &--inner{
      max-width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 10px;
    box-shadow: 0 8px 32px 0 $box-shadow-blue2;
    position: absolute;
    right: 10vw;
    top: 5rem;
    }
    //@media screen and (min-width: 600px) {
    //  img {
    //    max-width: 50%;
    //    height: auto;
    //  }
    //}
  }

  &__links{
    padding-top: 0.5rem;

    button{
    &:before{

      background: $dark-blue;
    }
      &:after{
        display: none;
      }
    }
  }
//PROJECTS TAGS
  &__tags{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}



.coolFunnyLink {
  position: relative;
  font-family: sans-serif;
  svg{
    position: absolute;
    bottom: -5px;
    left: 0;
    stroke-width: 1px;
    width: 95px;
    path{
      stroke-dasharray: 1;
      stroke-dashoffset: 1;
      transition:stroke-dashoffset 0.6s cubic-bezier(0.7,0,0.3,1);
    }
  }
  &:hover {
    svg path{
stroke-dashoffset:0 ;
      transition-timing-function: cubic-bezier(0.8,1,0.7,1);

    }
    }
  }



























