@import "base";
.skills{
  position: relative;
  font-size: 40px;
  height: 100px;
  background: $yellow-color;
  overflow: hidden;
  text-align: center;
  padding-top: 1rem;
  &__header{
    font-weight: 600;
    font-family: Agdasima ;

  }
  &__text{
    position: absolute;
    white-space: nowrap;
    font-family: Agdasima ;
  &--left{
    left: 0;
    top: 1rem;
    animation: moveLeft 30s linear infinite;
    @keyframes moveLeft {

    0%{
      transform: translate3d(0,0,0);
    }
    100%{
      transform: translate3d(-50% ,0,0);
    }

    }


  }

    //&--right{
    //  right: 0;
    //  top: 7rem;
    //  animation: moveRight 20s linear infinite;
    //  @keyframes moveRight {
    //    0%{
    //      transform: translate3d(0,0,0);
    //    }
    //    100%{
    //      transform: translate3d(50%,0,0);
    //    }
    //  }
    //}



    }
  @media (max-width: 700px) {
    &{
      height: 50px;
    }&__text{
       font-size: 26px;
       &--left{
         top: 0.5rem;
       }
       //&--right{
       //   top: 8rem;
       // }
     }
  }
  }

